.choice{
    border: 3px solid #CFC19F;
    color : #897F65;
    /* font-size : 11px; */
}

.nchoice{
    /* color : #897F65; */
}

.place{
    margin : 10px;
}

.wrapper{
    /* //height: auto */
    width: 100%;
    padding: 0px 16px 24px 16px;
    box-sizing: border-box;
}

.item{
    display: flex;
    align-items: center;
    height: 30px;
    
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color : #897F65;
    
}
