

.header{
    position : fixed;
    top : 9;
    left : 0;
    right : 0;
    height : 55px;

    padding : 6px;
    overflow : hidden;
    border-bottom : 2px solid #DAD2BF;
    
    
}

.logo {

   /* // border : 1px solid red; */

    margin : 0 auto;
    width : 60px;
    height : 40px;

    
    overflow : hidden;
}

